<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <button mat-raised-button color="primary" routerLink="/home">Accueil</button>
        <button mat-raised-button color="primary" routerLink="/cards">cards</button>
        <button mat-raised-button color="primary" routerLink="/deck">deck</button>
        <button mat-raised-button color="primary" routerLink="/foo">Foo</button>
        <button mat-raised-button color="primary" routerLink="/bar">Bar</button>
        <h1 fxFlex="60" fxLayoutAlign="center center">{{title}}</h1>
    </mat-toolbar-row>
</mat-toolbar>