#blue {
    background-color: blue;
    display: inline-block;
    width: 50%;
}

#red {
    background-color: red;
    display: inline-block; 
    width: 50%;
}

.blue {
    display: inline-block;
    width: 50%;
}